@page
@model ApartmentSystem.Pages.ContactUs.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ContactUsInformation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUsInformation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUsInformation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUsInformation.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUsInformation.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUsInformation.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUsInformation.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUsInformation.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUsInformation.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactUsInformation.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
